* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(7, 43, 80);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
}


main > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#box {
  height: 500px;
  width: 600px;
  background-color: rgb(225, 99, 49);
  border: 5px solid whitesmoke;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: 600;
  font-size: 100px;
}

button {
  margin-top: 15px;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  background-color: rgb(187, 91, 91);
  color: white;
  font-size: 15px;
  font-weight: 600;
}

button:active {
  scale: 0.95;
}

h2{
  color: white;
  font-size:40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  visibility:hidden;
}

