@font-face {
  font-family: "Richis Stiller";
  src: url("./richis-stiller.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.div-top {
  padding: 30px;
  background-color: rgb(36, 36, 82);
  
}

.div-top>h1{
  color: transparent;
  background-clip: text;
  background-image: url(https://gifdb.com/images/high/rainbow-colors-swirl-cycle-9ng7ht02rk9lrvqt.gif);
  -webkit-text-stroke: 1px black;
}



h1 {
  padding: 5px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  font-weight: 100;
  font-family: "Richis Stiller", sans-serif;
   padding: 10px;
   margin-right: 20px;
}

h3{
  margin-right: 20px;
  color: white;
  text-align: center;
}
#p-top {
  color: white;
  text-align: center;
  /* font-size: x-small; */
  font-weight: 100;
}

#p-tag{
  color: black;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* font-size: x-small; */

}

.div1,.div2,.div3,.div4,.div5 {
  text-align: center;
  align-items: center;
  margin: 50px;
  margin-top: 20px; 
  border-radius: 5px;
}

.div2{
  height:200px;
  background-color: rgb(203, 236, 247);
}

.in-p{
 background-color: white;
  /* width: 320px; */
  height: 40px;
  border-radius: 5px;
  margin-left: 160px;
  margin-right: 160px;
  padding: 10px;
margin-bottom: 4px;
  /* font-size: xx-small; */
}

.div3{
 height:240px;
  background-color: rgb(255, 255, 187)
}

.div4{
 height: 200px;
  background-color: rgb(255, 210, 217)

}

.div5{
  height: 200px;
  background-color: rgb(193, 255, 193)
}
