* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

@media (max-width: 786px) {
  .menu-btn {
    display: block;
  }
  .nav-links {
    display: none;
    flex-direction: column;
  }
  .nav-links.active {
    display: flex;
  }
}
