*{
  margin: 0;
  padding:0;
  box-sizing: border-box;

}

html body{
  height: 100%;
  width: 100%;
  background-color: rgb(8, 73, 94);
  
}

#main{
  padding: 30px;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card{
  height: 350px;
  width: 275px;
  border-radius: 20px;
background-color: white;  
overflow: hidden;
  position: relative;

}

.card:hover{
  transform: rotateX(15deg);
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-mid{
  height: 35%;
  width: 100%;
  position: absolute;
  bottom: -35%;
  background: linear-gradient(transparent, black);
    transition: all ease 0.3s;
  
}

.card:hover .card-mid{
  bottom: 0%; 
  border-radius: 20px;
}

.bookmark {
  color: black;
  font-weight: 100;
  background-color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 20%;
  top: 45%;
}

.bookmark > i {
  margin-left: 9px;
  position: absolute;
  top: 9px;
  font-size: 20px;
}

.heart {
  color: black;
  font-weight: 100;
  background-color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 2%;
  top: 45%;
}

.heart > i {
  margin-left: 9px;
  position: absolute;
  top: 9px;
  font-size: 20px;
}

.p-tag {
  color: white;
  font-size: 26px;
  font-weight: 800; 
  padding-top: 60px;
  padding-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
