* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right bottom, white, gray 90%);
}

.parent{
  display: flex;
  align-self: center;
  height: 400px;
  width: 100%;
  background-color: blueviolet;
  padding: 30px;
  gap: 20px;
  flex-wrap: nowrap;
overflow: auto;
}



.parent::-webkit-scrollbar{
  display: inline-block;
  background-color: rgb(19, 35, 76);
  height: 10px;

}

.parent::-webkit-scrollbar-thumb{
  background-color: #888;
  border-radius: 10px;
  border-left: 1px solid white;
   border-right: 1px solid white;
}
.child{
  height: 100%;
  width: 300px;
  background-color: aliceblue;
 border-radius: 10px;
 flex-shrink: 0;
}

.child>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
    border-radius: 10px;
}