* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: yellow;
}
#main {
 position: absolute;
  margin-top: 150px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
  padding: 20px;

}

.card1 {
position: relative;
  height: 400px;
  width: 270px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.623);
}

#main::-webkit-scrollbar{
  display: none;
}


.card1 img {
  border: 5px solid rgb(247, 159, 45);
  height: 170px;
  width: 170px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.card1 > h2 {
  margin-top: 6px;
  font-size: 40px;
  font-weight: 700;
  align-items: center;
}

.card1 > p {
   margin-top: 4px;
  font-size: 17px;
  font-weight: 600;
  color: #888;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card1 button {
   margin-top: 20px;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: rgb(110, 204, 255);
  border: none;
  color: white;
  font-weight: 600;
  border: 2px solid rgb(110, 204, 255);
}

.card1 button:hover {
  background-color: transparent;
  color: rgb(110, 204, 255);
}

.card1:hover {
  transition:0.4s ease-out;
  transform: scale(1.2);
  margin-left: 10px;
  margin-right: 10px;
}

.card1 img:hover {
  transition: 0.4s ease-out;
  transform: scale(1.2);
  
}

.bookmark i {
  position: absolute;
  top: 2%;
  left: 85%;
  font-size: xx-large;
  color: gray;
}

.heart i {
  position: absolute;
  top: 50%;
  left: 3%;
  font-size:30px;
  color: red;
 
}



.comment i {
  color: lightskyblue;
  position: absolute;
  top: 50%;
  left: 15%;
  font-size: 30px;
  z-index: 10;

}


